{% extends "base_page.html" %}


{% block page-title %}
Словарик немецкого языка!
{% endblock %}

{% block page-lead %}
Это словарь немецкого языка, можно добавлять свои слова и создавать списки слов для заучивания. <br/>
    <p><i>Случайное слово или фраза: {{ w }} - {{ tr }}</i></p>
{% endblock %}

{% block content %}
<div class="container px-4 py-5" id="project-contents" >
    <div class="row g-3 py-5 row-cols-2 row-cols-lg-3">
        <div class="col-lg-4">
            <h2 class="fw-normal">Список немецких слов</h2>
            <p>Словарик из немецких слов и их переводов на русский язык.</p>
            <p><a class="btn btn-outline-info" href="/terms-list" role="button">
                 Посмотреть</a>
            </p>
        </div>

        <div class="col-lg-4">
            <h2 class="fw-normal">Создние нового слова</h2>
            <p><a class="btn btn-outline-info" href="/add-term" role="button">
                 Заполнить</a>
            </p>
        </div>

        <div class="col-lg-4">
            <h2 class="fw-normal">Создание нового списка</h2>
            <p>Создавай свои списки по тематикам</p>
            <p><a class="btn btn-outline-info" href="/add-list" role="button">
                 Создать</a>
            </p>
        </div>

        <div class="col-lg-4">
            <h2 class="fw-normal">Спряжения глаголов</h2>
            <p>Добавить формы спряжения для глаголов</p>
            <p><a class="btn btn-outline-info" href="/verb-add" role="button">
                 Добавить</a>
            </p>
        </div>

        <div class="col-lg-4">
            <h2 class="fw-normal">Мои глаголы</h2>
            <p>Посмотреть, как глаголы в словарике спрягаются</p>
            <p><a class="btn btn-outline-info" href="/show-verbs" role="button">
                 Смотреть</a>
            </p>
        </div>

        <div class="col-lg-4">
            <h2 class="fw-normal">Мои списки</h2>
            <p>Изучить слова, дифференцированные по спискам</p>
            <p><a class="btn btn-outline-info" href="/show-lists" role="button">
                 Изучить</a>
            </p>
        </div>


    </div>
</div>
{% endblock %}
